{
  "plugins": ["prettier-plugin-tailwindcss"],

  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "jsxBracketSameLine": true
}
